{% extends 'doodleApp/main.html' %}

{% load static %}


{% block title %}Home - The Doodle Spine{% endblock %}

{% block content %}


<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Contact Us</h3>
        <p class="text-white fs-5 mb-0 wow fadeInUp" data-wow-delay="0.2s">
            We’d love to hear from you! Reach out with your questions, feedback, or collaboration ideas—let’s create
            something meaningful together.
        </p>
    </div>
</div>

<!-- Header End -->


<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-lg-5 col-xl-5 contact-form wow fadeInLeft" data-wow-delay="0.1s">
                <h2 class="display-5 text-white mb-2">Get in Touch</h2>
                <!-- <p class="mb-4 text-white">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a class="text-dark fw-bold" href="https://htmlcodex.com/contact-form">Download Now</a>.</p> -->
                <form method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-lg-12 col-xl-6">
                            <div class="form-floating">{{ form.name }}</div>
                            <label for="name" class="text-white">Your Name</label>
                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <div class="form-floating">{{ form.email }}</div>
                            <label class="text-white" for="name">Your Email</label>
                        </div>
                        <div class="col-lg-12 col-xl-12">
                            <div class="form-floating">{{ form.phone }}</div>
                            <label class="text-white" for="name">Your Phone</label>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">{{ form.subject }}</div>
                            <label class="text-white" for="name">Your Subject</label>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">{{ form.message }}</div>
                            <label class="text-white" for="name">Your Message</label>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-light text-primary w-100 py-3">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-2 col-xl-2 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-transparent rounded">
                    <div class="d-flex flex-column align-items-center text-center mb-4">
                        <div class="bg-white d-flex align-items-center justify-content-center mb-3"
                            style="width: 90px; height: 90px; border-radius: 50px;"><i
                                class="fa fa-map-marker-alt fa-2x text-primary"></i></div>
                        <h4 class="text-dark">Addresses</h4>
                        <p class="mb-0 text-white">Port Harcourt, Nigeria</p>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center mb-4">
                        <div class="bg-white d-flex align-items-center justify-content-center mb-3"
                            style="width: 90px; height: 90px; border-radius: 50px;"><i
                                class="fa fa-phone-alt fa-2x text-primary"></i></div>
                        <h4 class="text-dark">Mobile</h4>
                        <p class="mb-0 text-white">+234 816 585 5272</p>
                    </div>

                    <div class="d-flex flex-column align-items-center text-center">
                        <div class="bg-white d-flex align-items-center justify-content-center mb-3"
                            style="width: 90px; height: 90px; border-radius: 50px;"><i
                                class="fa fa-envelope-open fa-2x text-primary"></i></div>
                        <h4 class="text-dark">Email</h4>
                        <p class="mb-0 text-white">storyspring212@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                <div class="d-flex justify-content-center mb-4">
                    <a class="btn btn-lg-square btn-light rounded-circle mx-2"
                        href="https://youtube.com/@thedoodlespine?si=AFkDlz8VXP80_XlX"><i
                            class="fab fa-youtube"></i></a>
                    <a class="btn btn-lg-square btn-light rounded-circle mx-2"
                        href="https://x.com/Thedoodlespine?t=T0wnKhB1QA-mN1hn2pqlxg&s=08"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg-square btn-light rounded-circle mx-2"
                        href="https://www.tiktok.com/@thedoodlespine?_t=ZM-8xC85Hp9tkm&_r=1"><i
                            class="fab fa-tiktok"></i></a>
                </div>
                <div class="rounded h-100">
                    <iframe class="rounded w-100" style="height: 500px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.525948442801!2d7.005136874964177!3d4.815554840035023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069cdd6d44e18e3%3A0x4c7b62ac71c5a3fc!2sPort%20Harcourt%2C%20Nigeria!5e0!3m2!1sen!2sng!4v1718365085296!5m2!1sen!2sng"
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}

{% block extra_js %}

{% endblock %}